/* Custom Colors */
:root {
    --primary-color: #330f0a;
    /* Black bean */
    --secondary-color: #394f49;
    /* Dark slate gray */
    --accent-color: #65743a;
    /* Fern green */
    --highlight-color: #efdd8d;
    /* Flax */
    --light-highlight-color: #f4fdaf;
    /* Mindaro */
}

/* Add a border or padding around the whole site */
.site-wrapper {
    border: 5px solid whitesmoke;
    /* Border color around the site */
}

/* Navbar Overlay */
.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.716); /* Black overlay with 40% opacity */
    z-index: 0; /* Places the overlay behind the content */
}

/* Ensuring navbar content is above the overlay */
.navbar .navbar-brand,
.navbar .nav-link {
    position: relative;
    z-index: 1; /* Ensures links and brand appear above the overlay */
}

/* Custom logo styling */
.navbar-brand img {
    width: 90px;  /* Set the logo width */
    height: 80px; /* Maintain the aspect ratio */

}

/* Navbar links */
.navbar-nav .nav-link {
    color: #f4fdaf;; /* White text color for links */
    font-weight: 500; /* Medium font weight */
    padding: 10px 15px; /* Padding for better spacing */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Hover effect on links */
.navbar-nav .nav-link:hover {
    color: #fff; /* Change link color on hover to match your palette */
}

/* Adjusting the navbar toggler button for mobile view */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5); /* Slightly transparent border for the toggler */
}

.navbar-toggler:hover {
    border-color: #fff; /* Full white border on hover */
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0 !important;
    padding: 0;
}

h1 {
    font-weight: 700;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
}

h2,
h3 {
    font-weight: 700;
    color: var(--primary-color);
    text-shadow: 2px 2px 4px #333;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Hover Effects */
.btn-primary:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    transition: background-color 0.3s ease;
}


/* Footer Styling */
footer {
    background-color: var(--primary-color);
    padding: 20px 0;
    color: var(--highlight-color);
    text-align: center;
}
footer p {
    text-shadow: 1px 1px 2px var(--secondary-color);
}

footer a {
    color: var(--light-highlight-color);
    text-decoration: none;
}



/* End of css/globalstyle.css */